<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>javaweb_bookstore</display-name>
  <filter>
    <filter-name>SetEcondingCharset</filter-name>
    <filter-class>cn.edu.gzu.web.filter.SetEcondingCharset</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>SetEcondingCharset</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>cn.edu.gzu.web.controller.CategoryServlet</servlet-class>
  </servlet>
 
  <servlet>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>cn.edu.gzu.web.controller.BookServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/BookServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>